@font-face {
  font-family: 'Gotham';
  src: url('https://assets.website-files.com/611153e7af981472d8da199c/618d12179e08334c55bee117_Gotham-Medium_Web.woff')
      format('woff'),
    url('https://assets.website-files.com/611153e7af981472d8da199c/618d12179e08334c55bee117_Gotham-Medium_Web.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham book';
  src: url('https://assets.website-files.com/611153e7af981472d8da199c/618d13b9edde405c59e4bb52_Gotham-Book_Web.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: url('https://assets.website-files.com/611153e7af981472d8da199c/618d14182d50f51bead24130_Gotham-Black_Web.woff')
      format('woff'),
    url('https://assets.website-files.com/611153e7af981472d8da199c/61279586c65ee060197ee946_Gotham-Black.otf')
      format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: url('https://assets.website-files.com/611153e7af981472d8da199c/618d1418edde400d84e4bc68_Gotham-Bold_Web.woff')
      format('woff'),
    url('https://assets.website-files.com/611153e7af981472d8da199c/61279587b5f12a4ada6104ca_Gotham-Bold.otf')
      format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: url('https://assets.website-files.com/611153e7af981472d8da199c/618d1418e59ca100336201e9_Gotham-Light_Web.woff')
      format('woff'),
    url('https://assets.website-files.com/611153e7af981472d8da199c/612795874b798960f30c2f72_Gotham-XLight.otf')
      format('opentype'),
    url('https://assets.website-files.com/611153e7af981472d8da199c/61279587dcddd33326f94ef3_Gotham-Light.otf')
      format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: url('https://assets.website-files.com/611153e7af981472d8da199c/618d141864e72c3b43c9f3e7_Gotham-Thin_Web.woff')
      format('woff'),
    url('https://assets.website-files.com/611153e7af981472d8da199c/61279587d9dd6688ff38050b_Gotham-Thin.otf')
      format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham ultra';
  src: url('https://assets.website-files.com/611153e7af981472d8da199c/618d141802f58c85462e377d_Gotham-Ultra_Web.woff')
      format('woff'),
    url('https://assets.website-files.com/611153e7af981472d8da199c/6127958a0f45965e661b97fa_Gotham-Ultra.otf')
      format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
